<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>readImage</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="container">
        <h1>readImage</h1>
        <h4>Selecione um Arquivo</h4>
        <form id="uploadForm">
            <input type="file" id="fileInput" />
            <button type="button" id="uploadButton">Upload</button>
        </form>
        <div id="loading" style="display: none;">
            <p>Carregando...</p>
        </div>
        <div id="result">
            <h2>Texto Extraído:</h2>
            <p id="extractedText"></p>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>
